:root {
  /* COLOR PALETTE */

  --tc-color-n-000: #ffffff;
  --tc-color-n-100: #e0e0e0;
  --tc-color-n-300: #a7a7a7;
  --tc-color-n-400: #646566;
  --tc-color-n-500: #444;
  --tc-color-n-700: #0056da;
  --tc-color-n-900: #000000;

  /* BACKGROUND COLOR */

  --tc-color-background-primary: var(--tc-color-n-000);
  --tc-color-background-secondary: var(--tc-color-n-700);

  /* BORDER COLOR */

  --tc-color-border-primary: var(--tc-color-n-000);
  --tc-color-border-secondary: var(--tc-color-n-100);
  --tc-color-border-tertiary: var(--tc-color-n-900);

  /* TYPOGRAPHY COLOR */

  --tc-color-typography-white: var(--tc-color-n-000);
  --tc-color-typography-lightgray: var(--tc-color-n-100);
  --tc-color-typography-gray: var(--tc-color-n-400);
  --tc-color-typography-darker_gray: var(--tc-color-n-500);
  --tc-color-typography-blue: var(--tc-color-n-700);

  --tc-typography-typeface: 'Lato', Helvetica, Arial, sans-serif;

  /* FONT SIZE */

  --tc-typography-title-xl: 1.5rem;
  --tc-typography-title-l: 1.25rem;
  --tc-typography-title-m: 1.125rem;

  --tc-typography-p-l: 1.125rem;
  --tc-typography-p-m: 1rem;
  --tc-typography-p-s: 0.85rem;
  --tc-typography-p-xs: 0.75rem;

  /* LEADING */

  --tc-typography-title-leading: 1.1;
  --tc-typography-p-leading: 1.25;

  /* WIDTH */

  --tc-min-width: 250px;

  /* HEIGHT */

  --tc-height-footer: 8rem;
  --tc-height-login: 3rem;
  --tc-height-navbar: 3.5rem;

  /* MARGIN */

  --tc-margin-x3: 3rem;
  --tc-margin-x2: 2rem;
  --tc-margin-x1: 1rem;
  --tc-margin-quarter: 0.25rem;

  /* PADDING */

  --tc-padding-x2: 2rem;
  --tc-padding-x1: 1rem;
  --tc-padding-half: 0.5rem;
  --tc-padding-quarter: 0.25rem;
  --tc-padding-percentage-min: 3.5%;
  --tc-padding-percentage-max: 5%;

  /* GAP */

  --tc-flex-gap-x3: 3rem;
  --tc-flex-gap-x1dot5: 1.5rem;
  --tc-flex-gap-x1: 1rem;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--tc-color-background-primary);
  font-family: var(--tc-typography-typeface);
  font-size: var(--tc-typography-p);
  font-weight: 600;
  line-height: var(--tc-typography-p-leading);
  min-width: var(--tc-min-width);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1,
h3 {
  color: var(--tc-color-typography-gray);
  font-size: var(--tc-typography-title-m);
  line-height: var(--tc-typography-title-leading);
  margin-bottom: var(--tc-margin-x3);
  text-align: center;
  text-transform: uppercase;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

span {
  font-size: var(--tc-typography-p-xs);
  padding-left: var(--tc-padding-quarter);
  text-transform: uppercase;
}

small {
  color: var(--tc-color-typography-white);
  font-size: var(--tc-typography-p-xs);
}

header p,
header span {
  color: var(--tc-color-typography-blue);
}

header p:hover,
header span:hover {
  text-decoration: underline;
}

main img {
  object-fit: cover;
  padding-top: var(--tc-padding-x1);
}

main img:hover {
  opacity: 0.8;
}

main p {
  color: var(--tc-color-typography-darker_gray);
}

main p:hover {
  color: var(--tc-color-typography-blue);
}

footer {
  background-color: var(--tc-color-background-secondary);
  border-top: 0.1rem solid var(--tc-color-border-tertiary);
  height: var(--tc-height-footer);
}

.tc-layout-flex {
  display: flex;
}

.tc-header .tc-header--menu {
  align-items: center;
  justify-content: space-around;
  gap: var(--tc-flex-gap-x1dot5);
  margin: 0 var(--tc-margin-quarter);
  padding: var(--tc-padding-quarter) 0 var(--tc-padding-half) 0;
}

.tc-header--menu-logo-img {
  width: 100%;
}

.tc-header--menu-login-link {
  align-items: center;
}

.tc-header--menu-login-img {
  height: var(--tc-height-login);
}

.tc-header--menu-login-text {
  display: none;
}

.tc-header--navbar {
  background-color: var(--tc-color-typography-lightgray);
  height: var(--tc-height-navbar);
}

.tc-header--navbar-list {
  border-top: 0.1rem solid var(--tc-color-border-secondary);
  border-bottom: 0.1rem solid var(--tc-color-border-secondary);
  height: inherit;
  justify-content: center;
}

.tc-header--navbar-item {
  align-items: center;
  height: inherit;
  padding: 0 var(--tc-padding-percentage-min);
}

.tc-header--navbar-item:not(:last-child) {
  border-right: 0.1rem solid var(--tc-color-border-primary);
}

.tc-header--navbar-item:hover {
  box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.1),
    0px 10px 5px -8px rgba(0, 0, 0, 0.1);
}

.tc-header--navbar-item > .tc-header--navbar-link p {
  font-size: var(--tc-typography-p-xs);
  text-transform: uppercase;
}

.tc-layout-container {
  margin: 0 var(--tc-margin-x1);
}

.tc-main .tc-layout-flex {
  flex-direction: column;
}

.tc-main--products {
  margin: var(--tc-margin-x3) 0;
}

.tc-main--products > section {
  margin-bottom: var(--tc-margin-x3);
}

.tc-main--products ul {
  gap: var(--tc-flex-gap-x3);
}

.tc-main--products ul > li {
  border: 0.1rem solid var(--tc-color-border-secondary);
}

.tc-main--products ul > li:hover {
  box-shadow: -4px 4px 10px 0px rgba(0, 0, 0, 0.1),
    4px 4px 10px 0px rgba(0, 0, 0, 0.1);
}

.tc-main--products ul > li > a {
  gap: var(--tc-flex-gap-x1);
}

.tc-main--products ul > li > a > p {
  padding: 0 var(--tc-padding-x1) var(--tc-padding-x1) var(--tc-padding-x1);
  text-align: center;
}

.tc-footer .tc-footer-layout {
  flex-direction: column-reverse;
  gap: var(--tc-flex-gap-x1dot5);
  padding-top: var(--tc-padding-x2);
}

.tc-footer .tc-footer-copyright {
  text-align: center;
}

.tc-footer .tc-footer-social_webs {
  display: flex;
  align-items: center;
  gap: var(--tc-flex-gap-x1dot5);
  justify-content: center;
}

@media screen and (min-width: 283px) {
  .tc-header--navbar-item:first-child {
    border-left: 0.1rem solid var(--tc-color-border-primary);
  }

  .tc-header--navbar-item:last-child {
    border-right: 0.1rem solid var(--tc-color-border-primary);
  }
}

@media screen and (min-width: 350px) {
  .tc-header--navbar-item {
    padding: 0 var(--tc-padding-percentage-max);
  }

  .tc-layout-container {
    margin: 0 var(--tc-margin-x2);
  }
}

@media screen and (min-width: 400px) {
  h1,
  h3 {
    font-size: var(--tc-typography-title-l);
  }

  .tc-header--navbar-item > .tc-header--navbar-link p {
    font-size: var(--tc-typography-p-s);
  }

  main img {
    padding-top: var(--tc-padding-x2);
  }

  .tc-main ul > li > a > p {
    font-size: var(--tc-typography-p-l);
    padding-bottom: var(--tc-padding-x2);
  }
}

@media screen and (min-width: 450px) {
  .tc-main--products section > .tc-layout-flex {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .tc-main--products ul > li {
    width: 42.5%;
  }

  .tc-main--products ul > li > a > p {
    font-size: var(--tc-typography-p-s);
  }
}

@media screen and (min-width: 650px) {
  .tc-main--products ul > li > a > p {
    font-size: var(--tc-typography-p-m);
  }
}

@media screen and (min-width: 768px) {
  .tc-main--products section > .tc-layout-flex {
    flex-wrap: nowrap;
  }

  .tc-main--products ul {
    gap: var(--tc-flex-gap-x1);
  }

  .tc-main--products ul > li {
    width: 22.5%;
  }

  .tc-main--products ul > li > a > p {
    font-size: var(--tc-typography-p-s);
  }
}

@media screen and (min-width: 950px) {
  h1,
  h3 {
    font-size: var(--tc-typography-title-xl);
  }

  .tc-header--navbar-item > .tc-header--navbar-link p {
    font-size: var(--tc-typography-p-m);
  }

  .tc-main--products ul > li > a > p {
    font-size: var(--tc-typography-p-l);
  }

  .tc-footer small {
    font-size: var(--tc-typography-p-m);
  }
}
